<div style="background-color: #498fcc;">
    <p-card header="Iniciar sesión" styleClass="p-4 bg-blue-500 text-white" [style]="{width: '360px'}">
        <ng-template pTemplate="header" class="flex justify-content-center w-full">
            <img alt="Card" src="../../../assets/logo-eldar.png" class="w-5" />
        </ng-template>
        <form class="flex flex-column gap-3">
            <div class="flex flex-column gap-2">
                <label for="username">Usuario</label>
                <input pInputText id="username" aria-describedby="username-help" />
                <!-- <small id="username-help">
                        Enter your username to reset your password.
                    </small> -->
            </div>
            <div class="flex flex-column gap-2">
                <label for="username">Contraseña</label>
                <input pInputText id="username" aria-describedby="username-help" />
                <!-- <small id="username-help">
                        Enter your username to reset your password.
                    </small> -->
            </div>
        </form>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Iniciar" class="w-full" [severity]="'contrast'" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>