<div class="bg-custom">
    <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
        <p-card header="Iniciar sesión" styleClass="p-4 bg-blue-500 text-white" [style]="{width: '360px'}">
            <ng-template pTemplate="header" class="flex justify-content-center w-full">
                <img alt="Card" src="../../../assets/logo-eldar.png" class="w-5" />
            </ng-template>
            <div class="flex flex-column gap-3">
                <div class="flex flex-column gap-2">
                    <label for="username">Usuario</label>
                    <input pInputText id="username" formControlName="name" aria-describedby="username-help" />
                    @if
                    (hasError('name', 'required')) {
                    <small class="text-red-300" id="password">
                        Usuario requerido
                    </small>
                    }
                </div>
                <div class="flex flex-column gap-2">
                    <label for="username">Contraseña</label>
                    <input pInputText id="username" type="password" formControlName="password"
                        aria-describedby="username-help" />
                    @if
                    (hasError('password', 'required')) {
                    <small class="text-red-300" id="password">
                        Contraseña requerida
                    </small>
                    }
                </div>
            </div>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Iniciar" class="w-full" type [severity]="'contrast'" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </form>
</div>

<p-toast />
