<p-table [value]="[{code: 1, name: 'ds', category: 's', quantity: 2}]">
    <ng-template pTemplate="header">
        <tr>
            <th>Rol</th>
            <th>Nombre</th>
            <th>Contraseña</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        @for (user of users; track $index) {
        <tr>
            <td>{{ user.role }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.password | hiddenPassword }}</td>
            <td>
                <p-button icon="pi pi-pencil" (click)="handleRedirectEdit(user.id)" [rounded]="true" />
            </td>
            <td>
                <p-confirmPopup />
                <p-button icon="pi pi-trash" [rounded]="true" (click)="handleConfirmDelete($event, user.id)" severity="danger"
                    [outlined]="true" />
            </td>
        </tr>
        }
    </ng-template>
</p-table>